
body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #000;
  margin: 0;
  text-align: center;
  background-color: #bee9e8;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

#game-stats {
  display: none;
  color: #1b4965;
}
#game-status {
  color: #1b4965;
}


.modal {
  background-color: #62b6cb;
  position: absolute;
  z-index: 1000;
  top: 210px;
}

@keyframes ani{
	0%{background-position: 100vw 0;}
	100%{background-position: 0 0;}
}

canvas {
  border: 8px solid #ffffff;
  background:url(../imgs/cute-edit3.jpg) repeat-x 0 / 100% auto;
  animation: ani 5s linear infinite;
  width: 714px;
  height: 500px;
  display: none;
}
h1 {
  /* font-family: 'Boogaloo', cursive; */
  font-family: 'Grandstander', cursive;
  font-size: 48px;
  color: #ffffff;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(27, 73, 101);


  line-height: 1.1 !important;
}
h2 {
  font-family: 'Grandstander', cursive;
}
.field {
  width: 1200px;
  height: 100vh;
  background-color: green;
}
#restartGame { 
  display: none;
  z-index: 100;
}
#restartGame:hover {
  background: #1b4965;
  color: #ffffff;
}
#start-game {
  color: #1b4965;
}
#start-game:hover {
  background: #1b4965;
  color: #ffffff;
}

#credits {
  z-index: 500;
  display: none;
}
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  75% {
    opacity:.75;
  }
}

#inner-credits { 
  width:400px;
  background: rgba(255, 255, 255, .75);
  color:#1b4965;
}