body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #000;
  margin: 0;
  text-align: center;
  background-color: cornflowerblue;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
@keyframes ani{
	0%{background-position: 100vw 0;}
	100%{background-position: 0 0;}
}

canvas {
  border: 2px solid #000;
  background: green;
  background:url(../imgs/bg-1-field.jpg) repeat-x 0 / 100% auto;
  animation: ani 5s linear infinite;
  width: 1000px;
  height: 500px;
}
h1 {
  font-family: 'Boogaloo', cursive;
  font-size: 36px;
  /* font-family: 'Grandstander', cursive;
  font-weight: 500; */
}
h2 {
  font-family: 'Grandstander', cursive;
}
.field {
  width: 1200px;
  height: 100vh;
  background-color: green;
}
#restartGame { 
  display: none;
}
/* #movement {
  background:url(../imgs/bg-1-field.jpg) repeat-x 0 / 100% auto;
  width: 100%;
} */