
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #000;
  margin: 0;
  text-align: center;
  background-color: #bee9e8;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
@keyframes ani{
	0%{background-position: 100vw 0;}
	100%{background-position: 0 0;}
}

canvas {
  border: 8px solid #ffffff;
  background:url(../imgs/cute-edit3.jpg) repeat-x 0 / 100% auto;
  animation: ani 5s linear infinite;
  width: 714px;
  height: 500px;
}
h1 {
  /* font-family: 'Boogaloo', cursive; */
  font-family: 'Grandstander', cursive;
  font-size: 48px;
  color: #ffffff;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(27, 73, 101);


  line-height: 1.1 !important;
}
h2 {
  font-family: 'Grandstander', cursive;
}
.field {
  width: 1200px;
  height: 100vh;
  background-color: green;
}
#restartGame { 
  display: none;
}
/* #movement {
  background:url(../imgs/bg-1-field.jpg) repeat-x 0 / 100% auto;
  width: 100%;
} */
